.input{
	border-radius: 25px;
	border: solid 2px;
	padding-left: 25px;
	margin-bottom: 10px;
}
li{
	padding-bottom: 10px;
}

button{
	background:white;
}

#siteloader{
	width:  300px;
	height: 500px;
	border:solid 2px;
}
.submit{
	margin-left: 40px;
	padding-left: 30px;
	padding-right: 30px;
}