.input{
	border-radius: 25px;
	border: solid 2px;
	padding-left: 25px;
	margin-bottom: 10px;
}
li{
	padding-bottom: 10px;
}

button{
	background:white;
}

#siteloader,#webloader{
	width:  500px;
	height: 250px;
}
.submit{
	margin-left: 100px;
	padding-left: 30px;
	padding-right: 30px;
}